body{
    background-color: #4DFAE0;
}

.fundomenu{
    background-color: #3DDBD1;

   
}

/* .logopeq{
    width: 10%;
} */

.banner{
    width: 100%;
}

.logopeq {
    max-height: 70px; /* Ajuste a altura do logo conforme necessário */
    width: auto; /* Para manter a proporção do logo */
}

.navbar-toggler {
    border: none; /* Remove a borda do botão */
}

/* Para garantir que o menu drop-down abra corretamente */
.dropdown-menu {
    right: 0; /* Alinha o menu à direita do botão */
}

/* Para adicionar espaçamento aos itens do menu no mobile */
.navbar-nav .nav-link {
    padding: 10px 15px; /* Ajuste os valores conforme necessário */
}

/* Espaçamento específico para o menu dropdown */
.dropdown-menu {
    padding: 10px 0; /* Adiciona espaço acima e abaixo dos itens do dropdown */
}

/* Adiciona um espaçamento entre os itens do menu */
.dropdown-item {
    padding: 8px 15px; /* Ajuste os valores conforme necessário */
}

section{
    margin-bottom: 1.5%;
}
h1{
    text-align: center;
}

.espaco{
margin-top: 1%;
}

footer{
    padding: 1%;
    font-size: 1.5rem;
    text-align: center;
}
/* Para telas pequenas */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: right; /* Alinha os itens do menu à direita */
    }
}
